<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">
<head>
  <title>Full Report</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <% i = 0 %>
  <!-- LOOPS THROUGH EACH ACCOUNT NAME -->
  <% @all_accounts.each do |account| %>
    <br>
    <h1><%= @names[i] %></h1> 
    <p>$<%= account.pretty_tally %></p>
    <hr>
    <table>
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Average Transaction</th>
      </tr>
      <!-- LOOP TO GENERATE ROW PER CATEGORY -->
      <% account.categories.each do |category, t| %>
        <tr>
          <td><%= category %></td>
          <td>$<%= t.pretty_tally %></td>
          <td align="right">$<%= t.pretty_avg_transaction %></td>
        </tr>
      <% end %>
    </table>
    <br>
    <% i += 1 %>
  <% end %>
  <form action="/index">
    <p><button type="submit" name="home">Home</button></p>
  </form>
  <hr>
  <form action="/logout" method="post">
    <p><button type="submit" name="logout">Log Out</button></p>
  </form>
</body>