<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">
<head>
  <title>Full Report</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <header>
    <%= erb :navlinks %>
  </header>
  <% i = 0 %>
  <!-- LOOPS THROUGH EACH ACCOUNT NAME -->
  <% @all_accounts.each do |account| %>
    <br>
    <h1><%= @names[i] %></h1> 
    <h2>Account Total: $<%= account.pretty_tally %></h2>
    <hr>
    <table>
      <tr>
        <th style="padding-right: 180px">Category</th>
        <th style="padding-right: 60px">Amount</th>
        <th>Average Transaction</th>
      </tr>
      <!-- LOOP TO GENERATE ROW PER CATEGORY -->
      <% account.categories.each do |category, t| %>
        <tr>
          <td><%= category %></td>
          <td>$<%= t.pretty_tally %></td>
          <td>$<%= t.pretty_avg_transaction %></td>
        </tr>
      <% end %>
    </table>
    <hr>
    <% i += 1 %>
  <% end %>
</body>