<br>
<!-- BUILDS DISPLAY FOR SINGLE ACCOUNT -->
<h1><%= @name %></h1> 
<p>$<%= @account.pretty_tally %></p>
<!-- BLOCK OF TRANSACITON INFORMATION BOXES -->
<div <%= if(session[:message] == "false") then ('hidden') end %> >
<!-- TRANSACITON BOXES HIDDEN IF NOT LOGGED IN -->
<hr>
  <form action="/submit" method="post">
    <input type="hidden" name="account" value="<%= @name %>">
    <p><input type="text" placeholder="date" name="date"></p>
    <p><input type="text" placeholder="payee" name="payee"></p>
    <p><input type="text" placeholder="category" name="category"></p>
    <p><input type="text" placeholder="ouflow" name="outflow"></p>
    <p><input type="text" placeholder="inflow" name="inflow"></p>
    <p><input type="submit"></p> <!-- SUBMIT BUTTON SHOULD RUN 'WRITE_INFO' -->
  </form>
</div>
<hr>
<table>
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>Average Transaction</th>
  </tr>
  <!-- LOOP TO GENERATE ROWS PER CATEGORY -->
  <% @account.categories.each do |category, t| %>
      <tr>
        <td><%= category %></td>
        <td>$<%= t.pretty_tally %></td>
        <td align="right">$<%= t.pretty_avg_transaction %></td>    
      </tr>
    <% end %>
</table>
<br>
<hr>
<form action="/logout" method="post">
  <p><button type="submit" name="logout">Log Out</button></p>
</form>
<a href="http://localhost:4567/index">Home</a>