<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">
<head>
  <title>Report</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <header>
    <%= erb :navlinks %>
  </header>
  <br>
  <!-- BUILDS DISPLAY FOR SINGLE ACCOUNT -->
  <h1><%= @name %></h1> 
  <h2>Account Total: $<%= @account.pretty_tally %></h2>
  <!-- BLOCK OF TRANSACITON INFORMATION BOXES -->
  <div <%= if(session[:message] == "false") then ('hidden') end %> >
  <!-- TRANSACITON BOXES HIDDEN IF NOT LOGGED IN -->
  <hr>
    <form action="/submit" method="post" style="display: inline">
      <p><input type="hidden" name="account" value="<%= @name %>">
      <input type="text" placeholder="date" name="date">
      <input type="text" placeholder="payee" name="payee">
      <input type="text" placeholder="category" name="category">
      <input type="text" placeholder="ouflow" name="outflow">
      <input type="text" placeholder="inflow" name="inflow"></p>
      <p><button type="submit">Add Transaction</button></p> <!-- SUBMIT BUTTON SHOULD RUN 'WRITE_INFO' -->
    </form>
  </div>
  <hr>
  <table>
    <tr>
      <th align="left" style="padding-right: 180px">Category</th>
      <th style="padding-right: 60px">Amount</th>
      <th>Average Transaction</th>
    </tr>
    <!-- LOOP TO GENERATE ROWS PER CATEGORY -->
    <% @account.categories.each do |category, t| %>
        <tr>
          <td style="text-indent: 18px"><%= category %></td>
          <td>$<%= t.pretty_tally %></td>
          <td>$<%= t.pretty_avg_transaction %></td>
        </tr>
      <% end %>
  </table>
  <br>
  <%= erb :footer %>
</body>